KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SCHEMA_REGISTRY_URL=http://localhost:8081
BINANCE_WS_BASE_URL=wss://stream.binance.com:9443/stream
SYMBOLS=["BTCUSDT","ETHUSDT"]
KAFKA_TOPIC_TRADES=crypto.trades
LOG_LEVEL=INFO
